<p id="notice"><%= notice %></p>

<h1>Listing Libros</h1>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Autor</th>
      <th>Isbn</th>
      <th>Reseña</th>
      <th>Calificacion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @libros.each do |libro| %>
      <tr>
        <td><%= libro.titulo %></td>
        <td><%= libro.autor %></td>
        <td><%= libro.ISBN %></td>
        <td><%= libro.reseña %></td>
        <td><%= libro.calificacion %></td>
        <td><%= link_to 'Show', libro %></td>
        <td><%= link_to 'Edit', edit_libro_path(libro) %></td>
        <td><%= link_to 'Destroy', libro, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Libro', new_libro_path %>


<%= form_tag(libros_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Buscar " %>
<%= submit_tag "Buscar" %>
<% end %>

<% if @libros.present? %>
 <p>Se encontro el libro: <%= @libros %></p>
<% else %>
  <p>No se encontraron libros con estos criterios de busqueda: 
  <%= params[:search] %>.
  </p>
<% end %>