<div class="page-header">
  <%= link_to libros_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_libro_path(@libro), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <%= link_to new_libro_review_path(@libro), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Create review
  <% end %>
  <h1>Show libro</h1>
</div>

<dl class="dl-horizontal">
  <dt>Titulo:</dt>
  <dd><%= @libro.titulo %></dd>

  <dt>Autor:</dt>
  <dd><%= @libro.autor %></dd>

  <dt>ISBN:</dt>
  <dd><%= @libro.ISBN %></dd>
</dl>
