<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @libro.titulo %>
</p>

<p>
  <strong>Autor:</strong>
  <%= @libro.autor %>
</p>

<p>
  <strong>Isbn:</strong>
  <%= @libro.ISBN %>
</p>

<p>
  <strong>Reseña:</strong>
  <%= @libro.reseña %>
</p>

<p>
  <strong>Calificacion:</strong>
  <%= @libro.calificacion %>
</p>

<%= link_to 'Edit', edit_libro_path(@libro) %> |
<%= link_to 'Back', libros_path %>
