<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @review.titulo %>
</p>

<p>
  <strong>Contenido:</strong>
  <%= @review.contenido %>
</p>

<p>
  <strong>Creador:</strong>
  <%= @review.creador %>
</p>

<p>
  <strong>Libro:</strong>
  <%= @review.libro %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
